/* ========== FONTS ========== */
@font-face {
  font-family: "Shrikhand";
  src: url(../fonts/Shrikhand-Regular.otf) format("otf"), url(../fonts/Shrikhand-Regular.woff) format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype"), url(../fonts/Roboto-Regular.woff) format("woff");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype"), url(../fonts/Roboto-Bold.woff) format("woff");
}
@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto-Light.ttf) format("truetype"), url(../fonts/Roboto-Light.woff) format("woff");
}
/* ========== GENERAL ========== */
body {
  font-family: "Roboto-Bold";
  margin: auto;
  background-color: #f2f2f2;
}

header {
  position: relative;
}

.logo {
  padding-top: 1.35rem;
}

h1, .logo {
  font: normal 1.9rem "Shrikhand";
  text-align: center;
  margin-bottom: 0.8rem;
}

h2, h3 {
  margin: 0;
  padding-top: 2.8rem;
  padding-bottom: 2rem;
}

a, a:link, a:visited, a:active, a:hover {
  border: 0;
  text-decoration: none;
  color: inherit;
}

i {
  display: inline-block;
  width: 3rem;
}

.how, #restaurants, footer {
  padding: 0 1.2rem 2.5rem 1.2rem;
}

.heart {
  opacity: 0;
}
.heart:before, .heart:after {
  position: absolute;
  content: "";
  left: -0.3654rem;
  bottom: -0.0348rem;
  width: 0.87rem;
  height: 1.392rem;
  background-image: linear-gradient(-135deg, #9356DC, #FF79DA);
  border-radius: 0.87rem 0.87rem 0 0;
  transform-origin: top center;
  transform: rotate(-45deg);
}
.heart:after {
  left: 1.044rem;
  transform: rotate(45deg) scale(-1, 1);
  transform-origin: top center;
}
.heart:hover {
  opacity: 1;
}

button {
  display: block;
  cursor: pointer;
  background-image: linear-gradient(#FF79DA, #9356DC);
  min-width: 50%;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  box-shadow: 0 5px 10px #b3b3b3;
  font-size: 1rem;
  font-family: "Roboto-Bold";
  color: white;
}

/* ========== INDEX PAGE ========== */
.location {
  width: 100%;
  line-height: 3rem;
  background-color: #e6e6e6;
  box-shadow: 0 1px 5px #bfbfbf inset;
  text-align: center;
}

.intro {
  width: 100%;
  background-color: #f2f2f2;
  padding-bottom: 1.3rem;
  text-align: center;
}
.intro p {
  font-size: 1.2rem;
  font-family: "Roboto-Light";
  margin: 0;
}

.how {
  background-color: white;
}

ol {
  list-style: none;
  counter-reset: li;
  padding-left: 0.3rem;
  margin: 0;
}
ol li {
  counter-increment: li;
  background-color: #f2f2f2;
  margin: 0 0 1.6rem 0.5rem;
  padding: 1.5rem 0;
  border-radius: 1.5rem;
  box-shadow: 0 5px 10px #d9d9d9;
}
ol li .fas {
  width: 4rem;
  vertical-align: text-bottom;
  text-align: center;
  font-size: 1.2rem;
}
ol li:nth-last-child(1) {
  background-color: rgba(147, 86, 220, 0.1);
}
ol li:nth-last-child(1) .fas {
  color: #9356DC;
}
ol li:before {
  content: counter(li);
  display: inline-block;
  background-color: #9356DC;
  margin-left: -0.8rem;
  line-height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.75rem;
  text-align: center;
  font-size: 0.9rem;
  color: white;
}

#restaurants {
  background-color: #f2f2f2;
}

.restaurant {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  cursor: pointer;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 5px 10px #d9d9d9;
  margin-bottom: 1rem;
}
.restaurant img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.restaurant .fa-heart, .restaurant .heart {
  position: absolute;
  bottom: 2rem;
  right: 1.5rem;
  width: 1.5225rem;
  font-size: 1.5225rem;
}

.text {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
}
.text h3 {
  padding: 0;
}
.text p {
  margin: 0.3rem 0 0 0;
  font-family: "Roboto-Light";
}

.new {
  position: absolute;
  top: 0;
  right: 1rem;
  background-color: #99E2D0;
  padding: 0.5rem 1.5rem 0.4rem 1.5rem;
  border-radius: 2px;
  font-size: 0.9rem;
  font-family: "Roboto";
  color: gray;
}

/* ========== MENU PAGE ========== */
.fa-arrow-left {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  font-size: 1.2rem;
}

main header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: white;
}
main header img {
  width: 100%;
}
main header i, main header .heart {
  position: absolute;
  bottom: 0.9rem;
  right: 2.25rem;
  width: 1.5225rem;
  font-size: 1.5225rem;
}

.bar {
  position: absolute;
  bottom: 2.7rem;
  width: 100%;
  height: 2rem;
  background-color: #f2f2f2;
  border-top-left-radius: 2.7rem;
  border-top-right-radius: 2.7rem;
}

.text2 {
  display: flex;
  position: relative;
  width: auto;
  background-color: #f2f2f2;
  padding: 0 0.7rem;
}
.text2 h1 {
  margin: 0;
  padding: 0.5rem;
  font-size: 1.7rem;
}

.dishes {
  padding: 0.8rem 0.8rem 0 1rem;
  background-color: #f2f2f2;
}
.dishes h2 {
  padding: 0.8rem 0.2rem;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1rem;
  font-family: "Roboto-Light";
}
.dishes h2:after {
  display: block;
  content: "";
  width: 2.5rem;
  margin-top: 0.3rem;
  border-bottom: 3px solid #99E2D0;
}
.dishes .dish {
  display: flex;
  position: relative;
  top: 1rem;
  opacity: 0;
  overflow: hidden;
  box-shadow: 0 5px 10px #d9d9d9;
  cursor: pointer;
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 1rem;
  animation: dish-display 1s forwards;
}
.dishes .dish--1 {
  animation-delay: 200ms;
}
.dishes .dish--2 {
  animation-delay: 400ms;
}
.dishes .dish--3 {
  animation-delay: 600ms;
}
.dishes .dish .text3 {
  min-width: 82%;
  padding: 0.5rem;
  transition: min-width 500ms;
}
.dishes .dish .text3 h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.3rem 0;
  font-size: 1.1rem;
}
.dishes .dish .text3 p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0.2rem 0.2rem 0.2rem 0;
  font: normal 0.9rem "Roboto-Light";
}
.dishes .dish .price {
  position: relative;
  left: -0.3rem;
  min-width: 18%;
}
.dishes .dish .price p {
  position: absolute;
  bottom: 0.7rem;
  right: 1.3rem;
  margin: 0;
  padding-right: 1rem;
  font-size: 0.9rem;
}
.dishes .dish .check {
  position: relative;
  display: flex;
  min-width: 18%;
  background-color: #99E2D0;
  padding: 0 0.3rem;
  color: white;
  transition: transform 500ms;
}
.dishes .dish .check .fa-check-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  transition: transform 500ms;
}
.dishes .dish:hover .check {
  transform: translateX(-1.2rem);
}
.dishes .dish:hover .check .fa-check-circle {
  transform: rotate(360deg);
}
.dishes .dish:hover .text3 {
  min-width: 64%;
}

.order {
  margin: 3rem auto 5rem auto;
}

/* ========== FOOTER ========== */
footer {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  color: white;
}
footer h2 {
  margin: 0;
  padding: 1.5rem 0 1rem 0;
  font-weight: normal;
  font-size: 1.2rem;
  font-family: "Shrikhand";
}
footer a {
  padding-top: 0.5rem;
}
footer a i {
  width: 1.5rem;
}
footer a .fa-utensils {
  font-size: 0.9rem;
}
footer a .fa-hands-helping {
  font-size: 0.75rem;
}
footer a:nth-last-child(-n+2) {
  font-family: "Roboto";
}

/* ========== KEYFRAMES ========== */
@keyframes dish-display {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-1rem);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
