$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$heart-size: 0.86rem;

/* ========== FONTS ========== */

@font-face {
  font-family: 'Shrikhand';
  src: url(../fonts/Shrikhand-Regular.otf) format('otf'),
       url(../fonts/Shrikhand-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf) format('truetype'),
       url(../fonts/Roboto-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(../fonts/Roboto-Bold.ttf) format('truetype'),
       url(../fonts/Roboto-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(../fonts/Roboto-Light.ttf) format('truetype'),
       url(../fonts/Roboto-Light.woff) format('woff');
}

/* ========== GENERAL ========== */

body {
  font-family: 'Roboto-Bold';
  margin: auto;
  background-color: darken($color: white, $amount: 5);
}

header {
  position: relative;
}

.logo {
  padding-top: 1.35rem;
}

h1, .logo {
  font: normal 1.9rem 'Shrikhand';
  text-align: center;
  margin-bottom: 0.8rem;
}

h2, h3 {
  margin: 0;
  padding-top: 2.8rem;
  padding-bottom: 2rem;
}

i {
  display: inline-block;
  width: 3rem;
}

.how, #restaurants, footer {
  padding: 0 1.2rem 2.5rem 1.2rem;
}

button {
  display: block;
  background-image: linear-gradient($secondary, $primary);
  min-width: 50%;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  box-shadow: 0 5px 10px darken($color: white, $amount: 30);
  font-size: 1rem;
  font-family: 'Roboto-Bold';
  color: white;
}

/* ========== INDEX PAGE ========== */

.location {
  width: 100%;
  line-height: 3rem;
  background-color: darken($color: white, $amount: 10);
  box-shadow: 0 1px 5px darken($color: white, $amount: 25) inset;
  text-align: center;
}

.intro {
  width: 100%;
  background-color: darken($color: white, $amount: 5);
  padding-bottom: 1.3rem;
  text-align: center;
  p {
    font-size: 1.2rem;
    font-family: 'Roboto-Light';
    margin: 0;
  }
}

.how {
  background-color: white;
}

ol {
  list-style: none;
  counter-reset: li;
  padding-left: 0.3rem;
  margin: 0;

  li {
    counter-increment: li;
    background-color: darken($color: white, $amount: 5);
    margin: 0 0 1.6rem 0.5rem;
    padding: 1.5rem 0;
    border-radius: 1.5rem;
    box-shadow: 0 5px 10px darken($color: white, $amount: 15);
    .fas {
      width: 4rem;
      vertical-align: text-bottom;
      text-align: center;
      font-size: 1.2rem;
    }
    &:nth-last-child(1) {
    background-color: transparentize($color: $primary, $amount: 0.9);
      .fas {
        color: $primary;
      }
    }
    &:before {
      content: counter(li);
      display: inline-block;
      background-color: $primary;
      margin-left: -0.8rem;
      line-height: 1.5rem;
      width: 1.5rem;
      border-radius: 0.75rem;
      text-align: center;
      font-size: 0.9rem;
      color: white;
    }
  }
}

#restaurants {
  background-color: darken($color: white, $amount: 5);
}

.heart {
  opacity: 0;
  &:before, &:after {
    position: absolute;
    content: "";
    left: -0.42 * $heart-size;
    top: 0.21 * $heart-size;
    width: $heart-size;
    height: 1.6 * $heart-size;
    background-image: linear-gradient(-135deg, $primary, $secondary);
    border-radius: $heart-size $heart-size 0 0;
    transform-origin: top center;
    transform: rotate(-45deg);
  }
  &:after {
    left: 1.2 * $heart-size;
    transform: rotate(45deg) scale(-1, 1);
    transform-origin: top center;
  }
  &:hover {
    opacity: 1;
  } 
}

.restaurant {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 5px 10px darken($color: white, $amount: 15);
  margin-bottom: 1rem;
  img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .fa-heart, .heart {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 1.75 * $heart-size;
    font-size: 1.75 * $heart-size;
  } 
}

.text {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  h3 {
    padding: 0;
  }
  p {
    margin: 0.3rem 0 0 0;
    font-family: 'Roboto-Light';
  }
}

.new {
  position: absolute;
  top: 0;
  right: 1rem;
  background-color: $tertiary;
  padding: 0.5rem 1.5rem 0.4rem 1.5rem;
  border-radius: 2px;
  font-size: 0.9rem;
  font-family: 'Roboto';
  color: darken($color: white, $amount: 50);
}

/* ========== MENU PAGE ========== */

.fa-arrow-left {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  font-size: 1.2rem;
}

main header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: white;
  img {
    width: 100%;
  }
  i, .heart {
    position: absolute;
    top: 0.25rem;
    right: 2.25rem;
    width: 1.75 * $heart-size;
    font-size: 1.75 * $heart-size;
  }
}

.bar {
  position: absolute;
  bottom: 2.7rem;
  width: 100%;
  height: 2rem;
  background-color: darken($color: white, $amount: 5);
  border-top-left-radius: 2.7rem;
  border-top-right-radius: 2.7rem;
}

.text2 {
  display: flex;
  position: relative;
  width: auto;
  background-color: darken($color: white, $amount: 5);
  padding: 0 0.7rem;
  h1 {
    margin: 0;
    padding: 0.5rem;
    font-size: 1.7rem;
  }
}

.dishes {
  padding: 0.8rem 0.8rem 0 1rem;
  background-color: darken($color: white, $amount: 5);
  & h2 {
    padding: 0.8rem 0.2rem;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1rem;
    font-family: 'Roboto-Light';
    &:after {
      display: block;
      content: '';
      width: 2.5rem;
      margin-top: 0.3rem;
      border-bottom: 3px solid $tertiary;
    }
  }

  .dish {
    display: flex;
    box-shadow: 0 5px 10px darken($color: white, $amount: 15);
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 1rem;
    .text3 {
      flex: auto;
      min-width: 60%;
      padding: 0.5rem;
      h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.3rem 0;
        font-size: 1.1rem;
      }
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        padding: 0.2rem;
        font: normal 0.9rem 'Roboto-Light';
      }
    }
    .price {
      position: relative;
      flex: 1;
      min-width: 18%;
      p {
        position: absolute;
        bottom: 0.7rem;
        right: 1.3rem;
        margin: 0;
        font-size: 0.9rem;
      }
    }
    .check {
      display: flex;
      flex: 1;
      // width: 0%;
      background-color: $tertiary;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      padding: 0 0.3rem;
      color: white;
      .fa-check-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
      }
    }
  }
}

.order {
  margin: 3rem auto 5rem auto;
}


/* ========== FOOTER ========== */

footer {
  display: flex;
  flex-direction: column;
  background-color: darken($color: white, $amount: 80);
  color: white;
  h2 {
    margin: 0;
    padding: 1.5rem 0 1rem 0;
    font-weight: normal;
    font-size: 1.2rem;
    font-family: 'Shrikhand';
  }
  a {
    padding-top: 0.5rem;
    text-decoration: none;
    color: inherit;
    i {
      width: 1.5rem;
    }
    .fa-utensils {
    font-size:  0.9rem;
    }
    .fa-hands-helping {
      font-size: 0.75rem;
    }
    &:nth-last-child(-n+2) {
      font-family: 'Roboto';
    }
  }
}

